{% extends 'admin/master.html' %}

{% block body %}

<h1 class="text-center text-danger">Thống Kê - Báo Cáo</h1>
<div>
    <button id="btnRevenue" class="btn btn-info mt-2">Thống kê doanh thu từng tháng</button>
</div>

<div>
    <button id="btnFrequency" class="btn btn-info mt-2">Thống kê tần suất từng đầu sách theo tháng</button>
</div>

<div class="row">
     <div class="col-md-7 col-sm-12">
        <form>
            <div class="form-group">
                <input type="text" name="kw" class="form-control mt-2" placeholder="Nhập tên thể loại">
            </div>
            <div>
                <input type="submit" value="Lọc dữ liệu" class="btn btn-info">
            </div>
            <div>
               <label>Ngày Bắt Đầu</label>
                 <input type="date" name="from_date" class="form-control">
            </div>
            <div>
               <label>Ngày Bắt Đầu</label>
                 <input type="date" name="to_date" class="form-control">
            </div>
        </form>
    </div>
    <div class="col-md-5 col-12"></div>
    <div class="col-md-7 col-12">
        <canvas id="myChart"></canvas>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{{url_for('static', filename='js/my-chart.js') }}"></script>
<script >
    let labels = [];
    let data = [];
    {% for s in stats %}
    labels.push('{{ s[1] }}');
    data.push({{ s[2] }});
    {% endfor %}
    window.onload = function () {
        DrawChart(labels, data);
    };
</script>
{% endblock %}


