<footer class="footer">
         <div class="footer__container container grid">
            <div>
               <a href="#" class="footer__logo">
                  <i class="ri-book-3-line"></i> BookStore 3H
               </a>

               <p class="footer__description">
                  Find and explore the best <br>
                  eBooks from all your <br>
                  favorite writers.
               </p>
            </div>

            <div class="footer__data grid">
               <div>
                  <h3 class="footer__title">Về chúng tôi</h3>

                  <ul class="footer__links">
                     <li>
                        <a href="#" class="footer__link">Awards</a>
                     </li>

                     <li>
                        <a href="#" class="footer__link">FAQs</a>
                     </li>

                     <li>
                        <a href="#" class="footer__link">Chính sách bảo mật</a>
                     </li>

                     <li>
                        <a href="#" class="footer__link">Điều khoản dịch vụ</a>
                     </li>
                  </ul>
               </div>

               <div>
                  <h3 class="footer__title">Công ty</h3>

                  <ul class="footer__links">
                     <li>
                        <a href="#" class="footer__link">Blogs</a>
                     </li>

                     <li>
                        <a href="#" class="footer__link">Cộng đồng</a>
                     </li>

                     <li>
                        <a href="#" class="footer__link">Team chúng tôi</a>
                     </li>

                     <li>
                        <a href="#" class="footer__link">Trung tâm trợ giúp</a>
                     </li>
                  </ul>
               </div>

               <div>
                  <h3 class="footer__title">Liên hệ</h3>

                  <ul class="footer__links">
                     <li>
                        <address class="footer__info">
                           Đại học mở <br>Nhà Bè
                        </address>
                     </li>

                     <li>
                        <address class="footer__info">
                           haopham081098@gmail.com <br>
                           Hotline: 1900-80xx
                        </address>
                     </li>
                  </ul>
               </div>

               <div>
                  <h3 class="footer__title">Social</h3>

                  <div class="footer__social">
                     <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class="ri-facebook-circle-line"></i>
                     </a>

                     <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class="ri-instagram-line"></i>
                     </a>

                     <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class="ri-twitter-x-line"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>

         <span class="footer__copy">
            &#169; - Shop bán sách
         </span>
      </footer>