<header class="header" id="header">
    <nav class="nav container">
        <a href="/" class="nav__logo">
            <i class="ri-book-3-line"></i> BookStore 3H
        </a>

        <div class="nav__menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/" class="nav__link active-link">
                        <i class="ri-home-line"></i>
                        <span>Home</span>
                    </a>
                <li class="nav__item">
                    <a href="#featured" class="nav__link">
                        <i class="ri-book-3-line"></i>
                        <span>Danh mục sản phẩm</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#discount" class="nav__link">
                        <i class="ri-price-tag-3-line"></i>
                        <span>Sản phẩm bán chạy</span>
                    </a>
                </li>
                <span>Sản phẩm mới</span>
                </a>
                </li>
            </ul>
        </div>
        <i class="ri-search-line search-button" id="search-button"></i>

        <!-- Login button -->
        <div class="icon-container">
            <i class="ri-user-line login-button" id="login-button"></i>
            <div class="dropdown-menu">
                <a class="btn-login btn" href="/register" role="button">Đăng ký</a>
                <a class="btn-register btn" href="/login" role="button">Đăng nhập</a>
            </div>
        </div>
        <!-- Theme button -->
        <i class="ri-moon-line change-theme" id="theme-button"></i>
        <!-- Cart button -->
        <i class="ri-shopping-cart-line" id="cart-button"></i>
        </div>
    </nav>
</header>