<aside class="col-md-3 mb-md-0 mb-3">
    <nav class="list-group">
        <a class="list-group-item" href="/account"> Tài khoản </a>
        <a class="list-group-item" href="/order"> Đơn hàng của tôi </a>
        <a class="list-group-item" href="/favourite"> Sản phẩm yêu thích </a>
        <a class="list-group-item" href="/change_password"> Đổi mật khẩu </a>
        <a class="list-group-item" href="/manage_info"> Thiết đặt </a>
        <a class="list-group-item" href="/logout"> Đăng xuất </a>
    </nav>
</aside> <!-- col.// -->

<script>
document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll(".list-group-item");
        const currentPath = window.location.pathname;

        links.forEach(link => {

            if (link.getAttribute("href") === currentPath) {
                link.classList.add("active");
            } else {
                link.classList.remove("active");
            }
        });
    });
</script>