{% extends 'layout/base.html' %}
{% block content %}

<section class="section-pagetop bg-light " style="margin-top: 100px; padding:40px">
    <div class="container">
        <h2 class="title-page">Giỏ hàng</h2>
    </div> <!-- container.// -->
</section> <!-- section-pagetop.// -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <main class="col-lg-9 mb-lg-0 mb-3">
                <div class="card">
                    <div class="table-responsive-xl">
                        <table class="cart-table table table-borderless">
                            {% if 'cart' in session and session['cart'] %}
                            <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col" style="min-width: 280px;">Sản phẩm</th>
                                <th scope="col" width="150" style="min-width: 150px;">Giá</th>
                                <th scope="col" width="150" style="min-width: 150px;">Số lượng</th>
                                <th scope="col" width="100" style="min-width: 100px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in session['cart'].values() %}
                            <tr id="cart{{ c.id }}">
                                <td>
                                    <figure class="itemside">
                                        <div class="float-start me-3"><img
                                                src="{{c.image}}"
                                                alt="{{ c.name }}" width="80" height="80"></div>
                                        <figcaption class="info">
                                            <a href="/details" class="title">{{ c.name }}</a>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <span class="price"> {{ "{:,.0f}".format(c.unit_price) }}₫</span>
                                        <span class="ms-2 badge bg-info">-{{ c.discount }}%</span>

                                    </div>
                                </td>
                                <td>
                                    <input type="number" onblur="updateCart({{ c.id }}, this)" value="{{ c.quantity }}"
                                           min="1" class="form-control">
                                </td>
                                <td class="text-center text-nowrap">
                                    <!--                                    <a href="#" class="btn btn-success">Cập nhật</a>-->
                                    <input type="button" value="Xóa" onclick="deleteCart({{ c.id }})"
                                           class="btn btn-danger ms-1"></input>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            {% else %}
                            <div class="d-flex justify-content-center p-5 font-monospace">Không có sản phẩm nào trong
                                giỏ hàng :(
                            </div>
                            {% endif %}
                        </table>

                    </div> <!-- table.responsive-md.// -->

                    <div class="card-body border-top">
                        {% if current_user.is_authenticated %}
                            {% if has_items %}
                            <a class="icon-link icon-link-hover btn btn-primary float-end" href="{{ url_for('checkout') }}">
                                Thanh toán
                                <i class="bi bi-arrow-right p-0 m-0"></i>
                            </a>
                            {% endif %}
                        {% else %}
                            <p class="float-end">Vui lòng <a href="/login?next=/cart">đăng nhập</a> để thanh toán</p>
                        {% endif %}
                        <a href="/" class="btn btn-light">Tiếp tục mua sắm</a>
                    </div> <!-- card-body.// -->

                </div> <!-- card.// -->
            </main> <!-- col.// -->

            <aside class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <dl class="row mb-0">
                            <dt class="col-xxl-6 col-lg-12 col-6">Số lượng:</dt>
                            <dd class="col-xxl-6 col-lg-12 col-6 text-end mb-3"><span class="cart-counter">{{ cart.total_quantity }}</span>
                            </dd>
                            <dt class="col-xxl-6 col-lg-12 col-6">Tạm tính:</dt>
                            <dd class="col-xxl-6 col-lg-12 col-6 text-end mb-3"><span class="cart-amount">{{ "{:,.0f}".format(cart.total_amount)}}₫</span>
                            </dd>
                            <dt class="col-xxl-6 col-lg-12 col-6">Tổng cộng:</dt>
                            <dd class="col-xxl-6 col-lg-12 col-6 text-end mb-3"><strong>{{
                                "{:,.0f}".format(cart.total_amount) }}₫</strong></dd>
                        </dl>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- container -->
</section> <!-- section-content.// -->

{%endblock%}