{% extends 'layout/base.html' %}

{% block content %}

<section class="section-pagetop bg-light" style="margin-top:100px">
    <div class="container">
        <h2 class="title-page">Đổi mật khẩu</h2>
    </div> <!-- container.// -->
</section> <!-- section-pagetop.// -->

<section class="section-content padding-y">
    <div class="container">
        <div class="row">

            {% block aside %}
            {% include 'layout/user_info_aside.html' %}
            {% endblock %}

            <main class="col-md-9">
                <article class="card">
                    <div class="card-body">
                        <div class="col-lg-6">
                            <form>
                                <div class="mb-3">
                                    <label for="inputCurrentPassword" class="form-label">
                                        Nhập mật khẩu hiện tại
                                    </label>
                                    <input type="password" class="form-control" id="inputCurrentPassword">
                                </div>
                                <div class="mb-3">
                                    <label for="inputNewPassword" class="form-label">
                                        Nhập mật khẩu mới
                                    </label>
                                    <input type="password" class="form-control" id="inputNewPassword">
                                </div>
                                <div class="mb-3">
                                    <label for="inputNewPasswordAgain" class="form-label">
                                        Nhập mật khẩu mới một lần nữa
                                    </label>
                                    <input type="password" class="form-control" id="inputNewPasswordAgain">
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Đổi mật khẩu</button>
                            </form>
                        </div>
                    </div> <!-- card-body.// -->
                </article>
            </main> <!-- col.// -->

        </div> <!-- row.// -->
    </div> <!-- container.// -->
</section> <!-- section-content.// -->

{%endblock%}