{% extends 'layout/base.html' %}
{% block content %}
<section class="section-pagetop bg-light" style="margin-top: 100px; padding:40px">
    <div class="container">
        <h2 class="title-page">Sản phẩm yêu thích</h2>
    </div> <!-- container.// -->
</section> <!-- section-pagetop.// -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            {% block aside %}
            {% include 'layout/user_info_aside.html' %}
            {% endblock %}
            <main class="col-md-9">
                <article class="card">
                    <div class="card-body">
                        {% if favourite_books == [] %}
                            <h2 class="text-center">Không có sản phẩm yêu thích!</h2>
                        {% else %}
                        <div class="row g-3" id="favourites-container">
                                {%for book in favourite_books%}
                                    <div class="col-lg-6" id="book-{{ book.id }}">
                                    <figure class="d-flex align-items-center m-0">
                                        <div class="aside"><img src="{{book.image}}" width="80" height="80"></div>
                                        <figcaption class="ps-3">
                                            <a href="/details?book_id={{book.id}}">{{book.name}}</a>
                                            <p class="mb-2">
                                                <span class="price">{{ "{:,.0f}".format(book.unit_price - (book.unit_price * book.discount) / 100)  }}₫</span>
                                                <span class="ms-2 text-muted text-decoration-line-through">
                                                        {{  "{:,.0f}".format(book.unit_price) }}₫

                                                </span>
                                            </p>

                                                    <span>
                                                        <input style="display: none;" type="number" id="quantity" class="form-control w-50" value="1" min="1" max="1000" step="1"/>
                                                        <a href="javascript:;" onclick="addToCart({{ book.id }},'{{ book.image }}','{{ book.name }}',{{ book.unit_price }})" class="btn btn-light ms-2">Thêm vào giỏ hàng</a>
                                                    </span>

                                            <button type="button" class="btn btn-danger btn-sm ms-1" data-toggle="tooltip"
                                                    title="Xóa khỏi danh sách yêu thích"
                                                    onclick="deleteFavourite({{book.id}})">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </figcaption>
                                    </figure>
                                </div> <!-- col.// -->
                                {%endfor%}

                        </div> <!-- row .//  -->
                        {% endif %}
                    </div> <!-- card-body.// -->
                </article>
            </main> <!-- col.// -->

        </div> <!-- row.// -->
    </div> <!-- container.// -->
</section> <!-- section-content.// -->
{%endblock%}