{% extends 'layout/base.html' %}
{% block content %}

<section class="home section" id="home">
    <div class="home__container container grid">
        <div class="home__data">
            <h1 class="home__title">
                Browse & <br>
                Select E-Books
            </h1>

            <p class="home__description">
                Find the best e-books from your favorite
                writers, explore hundreds of books with all
                possible categories, take advantage of the
                50% discount and much more.
            </p>

            <a href="#" class="button">Explore Now</a>
        </div>

        <div class="home__images">
            <div class="home__swiper swiper">
                <div class="swiper-wrapper">
                    <article class="home__article swiper-slide">
                        <img src="assets/img/home-book-1.png" alt="image" class="home__img">
                    </article>

                    <article class="home__article swiper-slide">
                        <img src="assets/img/home-book-2.png" alt="image" class="home__img">
                    </article>

                    <article class="home__article swiper-slide">
                        <img src="assets/img/home-book-3.png" alt="image" class="home__img">
                    </article>

                    <article class="home__article swiper-slide">
                        <img src="assets/img/home-book-4.png" alt="image" class="home__img">
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services section">
    <div class="services__container container grid">
        <article class="services__card">
            <i class="ri-truck-line"></i>
            <h3 class="services__title">Free Shipping</h3>
            <p class="services__description">Order More Than $100</p>
        </article>

        <article class="services__card">
            <i class="ri-lock-2-line"></i>
            <h3 class="services__title">Secure Payment</h3>
            <p class="services__description">100% Secure Payment</p>
        </article>

        <article class="services__card">
            <i class="ri-customer-service-2-line"></i>
            <h3 class="services__title">24/7 Support</h3>
            <p class="services__description">Call us anytime</p>
        </article>
    </div>
</section>
<section class="section-content mb-2">
    <div class="container">
        <header class="section-heading py-4 d-flex justify-content-between">
            <h3 class="section-title">Danh mục sản phẩm</h3>
            <a class="btn btn-secondary" href="#" role="button" style="height: fit-content;">Xem tất cả</a>
        </header> <!-- section-heading.// -->
        <div class="row item-grid">
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="#" class="stretched-link">
                            <div class="d-flex align-items-center">
                                <img src="img/50px.png">
                                <span class="category-title ms-3">Sách giáo khoa</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="#" class="stretched-link">
                            <div class="d-flex align-items-center">
                                <img src="img/50px.png">
                                <span class="category-title ms-3">Sách giáo khoa</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="#" class="stretched-link">
                            <div class="d-flex align-items-center">
                                <img src="img/50px.png">
                                <span class="category-title ms-3">Sách giáo khoa</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="#" class="stretched-link">
                            <div class="d-flex align-items-center">
                                <img src="img/50px.png">
                                <span class="category-title ms-3">Sách giáo khoa</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="#" class="stretched-link">
                            <div class="d-flex align-items-center">
                                <img src="img/50px.png">
                                <span class="category-title ms-3">Sách giáo khoa</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="#" class="stretched-link">
                            <div class="d-flex align-items-center">
                                <img src="img/50px.png">
                                <span class="category-title ms-3">Sách giáo khoa</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="#" class="stretched-link">
                            <div class="d-flex align-items-center">
                                <img src="img/50px.png">
                                <span class="category-title ms-3">Sách giáo khoa</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="#" class="stretched-link">
                            <div class="d-flex align-items-center">
                                <img src="img/50px.png">
                                <span class="category-title ms-3">Sách giáo khoa</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="#" class="stretched-link">
                            <div class="d-flex align-items-center">
                                <img src="img/50px.png">
                                <span class="category-title ms-3">Sách giáo khoa</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="#" class="stretched-link">
                            <div class="d-flex align-items-center">
                                <img src="img/50px.png">
                                <span class="category-title ms-3">Sách giáo khoa</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="#" class="stretched-link">
                            <div class="d-flex align-items-center">
                                <img src="img/50px.png">
                                <span class="category-title ms-3">Sách giáo khoa</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="#" class="stretched-link">
                            <div class="d-flex align-items-center">
                                <img src="img/50px.png">
                                <span class="category-title ms-3">Sách giáo khoa</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- container.// -->
</section> <!-- section-content.// -->
<section class="featured section" id="featured">
    <h2 class="section__title">
        Featured Books
    </h2>

    <div class="featured__container container">
        <div class="featured__swiper swiper">
            <div class="swiper-wrapper">
                <article class="featured__card swiper-slide">
                    <img src="assets/img/book-1.png" alt="image" class="featured__img">

                    <h2 class="featured__title">Featured Book</h2>
                    <div class="featured__prices">
                        <span class="featured__discount">$11.99</span>
                        <span class="featured__price">$19.99</span>
                    </div>

                    <button class="button">Add To Cart</button>

                    <div class="featured__actions">
                        <button><i class="ri-search-line"></i></button>
                        <button><i class="ri-heart-3-line"></i></button>
                        <button><i class="ri-eye-line"></i></button>
                    </div>
                </article>

                <article class="featured__card swiper-slide">
                    <img src="assets/img/book-2.png" alt="image" class="featured__img">

                    <h2 class="featured__title">Featured Book</h2>
                    <div class="featured__prices">
                        <span class="featured__discount">$11.99</span>
                        <span class="featured__price">$19.99</span>
                    </div>

                    <button class="button">Add To Cart</button>

                    <div class="featured__actions">
                        <button><i class="ri-search-line"></i></button>
                        <button><i class="ri-heart-3-line"></i></button>
                        <button><i class="ri-eye-line"></i></button>
                    </div>
                </article>

                <article class="featured__card swiper-slide">
                    <img src="assets/img/book-3.png" alt="image" class="featured__img">

                    <h2 class="featured__title">Featured Book</h2>
                    <div class="featured__prices">
                        <span class="featured__discount">$11.99</span>
                        <span class="featured__price">$19.99</span>
                    </div>

                    <button class="button">Add To Cart</button>

                    <div class="featured__actions">
                        <button><i class="ri-search-line"></i></button>
                        <button><i class="ri-heart-3-line"></i></button>
                        <button><i class="ri-eye-line"></i></button>
                    </div>
                </article>

                <article class="featured__card swiper-slide">
                    <img src="assets/img/book-4.png" alt="image" class="featured__img">

                    <h2 class="featured__title">Featured Book</h2>
                    <div class="featured__prices">
                        <span class="featured__discount">$11.99</span>
                        <span class="featured__price">$19.99</span>
                    </div>

                    <button class="button">Add To Cart</button>

                    <div class="featured__actions">
                        <button><i class="ri-search-line"></i></button>
                        <button><i class="ri-heart-3-line"></i></button>
                        <button><i class="ri-eye-line"></i></button>
                    </div>
                </article>

                <article class="featured__card swiper-slide">
                    <img src="assets/img/book-5.png" alt="image" class="featured__img">

                    <h2 class="featured__title">Featured Book</h2>
                    <div class="featured__prices">
                        <span class="featured__discount">$11.99</span>
                        <span class="featured__price">$19.99</span>
                    </div>

                    <button class="button">Add To Cart</button>

                    <div class="featured__actions">
                        <button><i class="ri-search-line"></i></button>
                        <button><i class="ri-heart-3-line"></i></button>
                        <button><i class="ri-eye-line"></i></button>
                    </div>
                </article>

                <article class="featured__card swiper-slide">
                    <img src="assets/img/book-6.png" alt="image" class="featured__img">

                    <h2 class="featured__title">Featured Book</h2>
                    <div class="featured__prices">
                        <span class="featured__discount">$11.99</span>
                        <span class="featured__price">$19.99</span>
                    </div>

                    <button class="button">Add To Cart</button>

                    <div class="featured__actions">
                        <button><i class="ri-search-line"></i></button>
                        <button><i class="ri-heart-3-line"></i></button>
                        <button><i class="ri-eye-line"></i></button>
                    </div>
                </article>

                <article class="featured__card swiper-slide">
                    <img src="assets/img/book-7.png" alt="image" class="featured__img">

                    <h2 class="featured__title">Featured Book</h2>
                    <div class="featured__prices">
                        <span class="featured__discount">$11.99</span>
                        <span class="featured__price">$19.99</span>
                    </div>

                    <button class="button">Add To Cart</button>

                    <div class="featured__actions">
                        <button><i class="ri-search-line"></i></button>
                        <button><i class="ri-heart-3-line"></i></button>
                        <button><i class="ri-eye-line"></i></button>
                    </div>
                </article>

                <article class="featured__card swiper-slide">
                    <img src="assets/img/book-8.png" alt="image" class="featured__img">

                    <h2 class="featured__title">Featured Book</h2>
                    <div class="featured__prices">
                        <span class="featured__discount">$11.99</span>
                        <span class="featured__price">$19.99</span>
                    </div>

                    <button class="button">Add To Cart</button>

                    <div class="featured__actions">
                        <button><i class="ri-search-line"></i></button>
                        <button><i class="ri-heart-3-line"></i></button>
                        <button><i class="ri-eye-line"></i></button>
                    </div>
                </article>

                <article class="featured__card swiper-slide">
                    <img src="assets/img/book-9.png" alt="image" class="featured__img">

                    <h2 class="featured__title">Featured Book</h2>
                    <div class="featured__prices">
                        <span class="featured__discount">$11.99</span>
                        <span class="featured__price">$19.99</span>
                    </div>

                    <button class="button">Add To Cart</button>

                    <div class="featured__actions">
                        <button><i class="ri-search-line"></i></button>
                        <button><i class="ri-heart-3-line"></i></button>
                        <button><i class="ri-eye-line"></i></button>
                    </div>
                </article>

                <article class="featured__card swiper-slide">
                    <img src="assets/img/book-10.png" alt="image" class="featured__img">

                    <h2 class="featured__title">Featured Book</h2>
                    <div class="featured__prices">
                        <span class="featured__discount">$11.99</span>
                        <span class="featured__price">$19.99</span>
                    </div>

                    <button class="button">Add To Cart</button>

                    <div class="featured__actions">
                        <button><i class="ri-search-line"></i></button>
                        <button><i class="ri-heart-3-line"></i></button>
                        <button><i class="ri-eye-line"></i></button>
                    </div>
                </article>
            </div>

            <div class="swiper-button-prev">
                <i class="ri-arrow-left-s-line"></i>
            </div>

            <div class="swiper-button-next">
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
    </div>
</section>
<section class="section-content mb-5">
    <div class="container">
      <header class="section-heading py-4 d-flex justify-content-between">
        <h3 class="section-title">Sản phẩm mới nhất</h3>
        <a class="btn btn-secondary" href="#" role="button" style="height: fit-content;">Xem tất cả</a>
      </header> <!-- section-heading.// -->
      <div class="row item-grid">
        <div class="col-lg-3 col-md-6">
          <div class="card p-3 mb-4">
            <a href="#" class="img-wrap text-center">
              <img class="img-fluid" src="img/200px.png">
            </a>
            <figcaption class="info-wrap mt-2">
              <a href="#" class="title">Tên một sản phẩm</a>
              <div class="price mt-1 fw-bold">450.000₫</div>
            </figcaption>
          </div>
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
          <div class="card p-3 mb-4">
            <a href="#" class="img-wrap text-center">
              <img class="img-fluid" src="img/200px.png">
            </a>
            <figcaption class="info-wrap mt-2">
              <a href="#" class="title">Tên một sản phẩm</a>
              <div class="price mt-1 fw-bold">450.000₫</div>
            </figcaption>
          </div>
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
          <div class="card p-3 mb-4">
            <a href="#" class="img-wrap text-center">
              <img class="img-fluid" src="img/200px.png">
            </a>
            <figcaption class="info-wrap mt-2">
              <a href="#" class="title">Tên một sản phẩm</a>
              <div class="price mt-1 fw-bold">450.000₫</div>
            </figcaption>
          </div>
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
          <div class="card p-3 mb-4">
            <a href="#" class="img-wrap text-center">
              <img class="img-fluid" src="img/200px.png">
            </a>
            <figcaption class="info-wrap mt-2">
              <a href="#" class="title">Tên một sản phẩm</a>
              <div class="price mt-1 fw-bold">450.000₫</div>
            </figcaption>
          </div>
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
          <div class="card p-3 mb-4">
            <a href="#" class="img-wrap text-center">
              <img class="img-fluid" src="img/200px.png">
            </a>
            <figcaption class="info-wrap mt-2">
              <a href="#" class="title">Tên một sản phẩm</a>
              <div class="price mt-1 fw-bold">450.000₫</div>
            </figcaption>
          </div>
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
          <div class="card p-3 mb-4">
            <a href="#" class="img-wrap text-center">
              <img class="img-fluid" src="img/200px.png">
            </a>
            <figcaption class="info-wrap mt-2">
              <a href="#" class="title">Tên một sản phẩm</a>
              <div class="price mt-1 fw-bold">450.000₫</div>
            </figcaption>
          </div>
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
          <div class="card p-3 mb-4">
            <a href="#" class="img-wrap text-center">
              <img class="img-fluid" src="img/200px.png">
            </a>
            <figcaption class="info-wrap mt-2">
              <a href="#" class="title">Tên một sản phẩm</a>
              <div class="price mt-1 fw-bold">450.000₫</div>
            </figcaption>
          </div>
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
          <div class="card p-3 mb-4">
            <a href="#" class="img-wrap text-center">
              <img class="img-fluid" src="img/200px.png">
            </a>
            <figcaption class="info-wrap mt-2">
              <a href="#" class="title">Tên một sản phẩm</a>
              <div class="price mt-1 fw-bold">450.000₫</div>
            </figcaption>
          </div>
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
          <div class="card p-3 mb-4">
            <a href="#" class="img-wrap text-center">
              <img class="img-fluid" src="img/200px.png">
            </a>
            <figcaption class="info-wrap mt-2">
              <a href="#" class="title">Tên một sản phẩm</a>
              <div class="price mt-1 fw-bold">450.000₫</div>
            </figcaption>
          </div>
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
          <div class="card p-3 mb-4">
            <a href="#" class="img-wrap text-center">
              <img class="img-fluid" src="img/200px.png">
            </a>
            <figcaption class="info-wrap mt-2">
              <a href="#" class="title">Tên một sản phẩm</a>
              <div class="price mt-1 fw-bold">450.000₫</div>
            </figcaption>
          </div>
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
          <div class="card p-3 mb-4">
            <a href="#" class="img-wrap text-center">
              <img class="img-fluid" src="img/200px.png">
            </a>
            <figcaption class="info-wrap mt-2">
              <a href="#" class="title">Tên một sản phẩm</a>
              <div class="price mt-1 fw-bold">450.000₫</div>
            </figcaption>
          </div>
        </div> <!-- col.// -->
        <div class="col-lg-3 col-md-6">
          <div class="card p-3 mb-4">
            <a href="#" class="img-wrap text-center">
              <img class="img-fluid" src="img/200px.png">
            </a>
            <figcaption class="info-wrap mt-2">
              <a href="#" class="title">Tên một sản phẩm</a>
              <div class="price mt-1 fw-bold">450.000₫</div>
            </figcaption>
          </div>
        </div> <!-- col.// -->
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- section-content.// -->
{% endblock %}